{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container mb-5">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'img/36_web.webp' %}" class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_cloud_pbx_01_header }}</h4>
                    <p class="text-muted">{{ product_cloud_pbx_01_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'django_template_landrick/seg_product_overview.html' %}
    {% include 'django_template_landrick/seg_contact_more_info.html' %}
    {% include 'django_template_landrick/seg_faq.html' %}
{% endblock %}
